# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
floatie

# Generated eBPF files
*_bpfel.go
*_bpfel.o

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store

# Private project files
plan.md
concept.md

# Unnecessary graphics
images/floatie-duck.svg
images/floatie-duck.png